<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>To Do List app</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
            <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" />
            <a class="navbar-brand ml-3" href="{{ path('homepage') }}">To Do & Co</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ 'home.nav.tasks'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_profile') }}">{{ 'home.nav.profile'|trans }}</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a href="{{ path('user_list') }}" class="nav-link">{{ 'home.nav.dashboard'|trans }}</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav justify-content-end">

                    <li class="nav-item">
                        <a href="{{ path('logout') }}" class="nav-link">
                            <span class="fas fa-sign-out-alt" aria-hidden="true"></span> {{ 'button.logout'|trans }}
                        </a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ path('register') }}" class="nav-link">
                            <span class="fas fa-user-plus" aria-hidden="true"></span> {{ 'button.register'|trans }}
                        </a>
                    </li>
                    {% if not app.user and 'login' != app.request.attributes.get('_route') %}
                    <li class="nav-item">
                        <a href="{{ path('login') }}" class="nav-link">
                            <span class="fas fa-sign-in-alt" aria-hidden="true"></span> {{ 'button.login'|trans }}
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}

            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success" role="alert">
                            <strong>{{ 'flash.success'|trans }}</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger" role="alert">
                            <strong>{{ 'flash.error'|trans }}</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% block header_title %}{% endblock %}
                    {% block header_img %}{% endblock %}
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- /.container -->

        <div class="container">

            <hr>
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="pull-right">Copyright &copy; OpenClassrooms</p>
                    </div>
                </div>
            </footer>

        </div>

        <script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="https://kit.fontawesome.com/5842a4c551.js" crossorigin="anonymous"></script>
    </body>
</html>
