{% extends 'base.html.twig' %}

{% block header_title %}<h1>{{ 'user.create.title'|trans }}</h1>{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('user_create')}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right">{{ 'user.create.title'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
