{% extends 'base.html.twig' %}

{% block header_title %}<h1>{{ 'user.update.title'|trans }} <strong>{{ user.username }}</strong></h1>{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form, {
            'action' : path('user_edit', {'id' : user.id}),
            'attr': {'novalidate': 'novalidate'}
        }) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success">{{ 'button.modify'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
